<div class="container">
	<div class="deals-controls">
		<div class="control control-add">
			<button type="button" class="btn btn-outline-primary btn-sm" (click)="OnClickAddDeal()">
				<i class="btn-icon bi bi-house-add"></i>
				NEW DEAL
			</button>
		</div>
	</div>
	<div class="deals-list">
		<div class="row">
			<div class="col-12 col-lg-4" *ngFor="let deal of dealsList | async">
				<app-deal-card class="deal" [deal]="deal"></app-deal-card>
			</div>
		</div>
	</div>
</div>


<ng-container *ngIf="showForm">
	<div class="modal fade show d-block" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Deal</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
				</div>
				<div class="modal-body">
					<form [formGroup]="formNewDeal" #ngForm="ngForm" (ngSubmit)="OnClickSaveNewDeal()" [ngClass]="{'submitted' : ngForm.submitted }">
						<div class="row">
							<div class="col-12 mb-3">
								<label>
									Deal Name
									<div class="input-group">
										<span class="input-group-text"><i class="bi bi-house"></i></span>
										<input type="text" formControlName="name" [controlValidation]="formNewDeal.controls['name']" class="form-control" placeholder="Name / description" aria-label="Deal Name / description"/>
									</div>
								</label>
							</div>
							<div class="col-12 mb-3">
								<label>
									Adress
									<div class="input-group">
										<span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
										<input type="text" formControlName="address" [controlValidation]="formNewDeal.controls['address']" class="form-control" placeholder="Adress" aria-label="Adress"/>
									</div>
									<span class="error-msg"></span>
								</label>
							</div>
							<div class="col-12 col-lg-6 mb-3">
								<label>
									Purchase price
									<div class="input-group">
										<span class="input-group-text"><i class="info-icon bi bi-cash-stack"></i></span>
										<input type="text" formControlName="purchase_price" currencyMask [controlValidation]="formNewDeal.controls['purchase_price']" class="form-control" placeholder="000.000,00" aria-label="Purchase Price"/>
									</div>
									<span class="status-msg"></span>
								</label>
							</div>
							<div class="col-12 col-lg-6 mb-3">
								<label>
									NOI
									<div class="input-group">
										<span class="input-group-text"><i class="info-icon bi bi-coin"></i></span>
										<input type="text" formControlName="noi" currencyMask [controlValidation]="formNewDeal.controls['noi']" class="form-control" placeholder="000.000,00" aria-label="NOI"/>
									</div>
									<span class="status-msg"></span>
								</label>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12 col-lg">

							</div>
							<div class="col-12 col-lg-auto">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
								<button type="submit" class="btn btn-primary ms-1">Save changes</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show"></div>
</ng-container>
