<header>
	<div class="container">
		<div class="row">
			<div class="col-auto">
				<span class="logo">TEAMSHEET</span>
			</div>
			<div class="col">
				<div class="user">
					Hello, <span class="user-name">Alexandre!</span>
				</div>
			</div>
			<div class="col-auto">
				<div class="action-list">
					<span class="action action-user" title="Just an user icon. It does nothing.">
						<i class="action-icon bi bi-person-gear"></i>
					</span>
					<span class="action action-signout" title="A log off icon, but it does nothing.">
						<i class="action-icon bi bi-box-arrow-right"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
